---

import BaseLayout from '../layouts/BaseLayout.astro';

import Headeer from '../components/Headeer.astro';
import Foooter from '../components/Foooter.astro';
import '../styles/global.css';

const pageTitle = "About me"
const identity = {
  firstName: "Robin",
  country: "France",
  occupation: "Data Scientist",
  hobbies: ["Computer related stuff", "Video games", "Fashion"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];


const skillColor = "navy";
---


<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<p>Bonjour, je m'appelle Robin, et je suis datascientist qui aime toucher à tout. Ceci est mon blog</p>
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 && 
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		} 
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill	">{skill}</li>)}
	</ul>
  </BaseLayout>
  
